<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <!-- Console Appender for logging to the console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%level] %blue(%d{HH:mm:ss.SSS}) %cyan([%thread]) %boldGreen(%logger{15}) - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger configuration -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Logger for com.kumamon package -->
    <logger name="com.kumamon" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

</configuration>
